{% extends "admin/admin base.html" %}
{% block content %}

<div class="card" style="width: 40rem;">
  <div class="card-body">
    <h5 class="card-title">Customers Data</h5>


    <table class="table">
  <thead>
    <tr>
      <th scope="col">SL</th>
      <th scope="col">NAME</th>
      <th scope="col">DOB</th>
      <th scope="col">PHONE</th>

    </tr>
  </thead>
  <tbody>
      {% for i in data %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.name}}</td>
      <td>{{i.dob}}</td>
      <td>{{i.phone}}</td>




    </tr>
{% endfor %}
  </tbody>
  </table>



{% endblock %}

  </div>
</div>

